"Source:","/home/marc-antoine/Bureau/bass-amplifier/control/control.sch"
"Date:","lun 02 mar 2020 17:39:52 EST"
"Tool:","Eeschema 5.1.5-52549c5~84~ubuntu18.04.1"
"Generator:","/usr/share/kicad/plugins/bom_csv_grouped_by_value.py"
"Component Count:","46"

"Individual Components:"

"Item","Qty","Reference(s)","Value","LibPart","Footprint","Datasheet"
"","","C1","1000µF/25V","Device:CP","","~"
"","","C2","1000µF/25V","Device:CP","","~"
"","","C3","2.2µF/25V/UL low ESR","Device:C","","~"
"","","C4","2.2µF/25V/UL low ESR","Device:C","","~"
"","","C5","1µF/10V/UL ESR","Device:C","","~"
"","","C6","1µF/16V","Device:C","","~"
"","","C7","1µF/16V","Device:C","","~"
"","","C8","0.1µF/25V","Device:C","","~"
"","","C9","1µF/10V/UL ESR","Device:C","","~"
"","","C10","1µF/16V","Device:C","","~"
"","","C11","1µF/16V","Device:C","","~"
"","","C12","1µF/16V","Device:C","","~"
"","","C13","1µF/16V","Device:C","","~"
"","","C14","1µF/16V","Device:C","","~"
"","","C15","0.1µF/25V","Device:C","","~"
"","","C16","1µF/16V","Device:C","","~"
"","","C17","1µF/16V","Device:C","","~"
"","","C18","1µF/16V","Device:C","","~"
"","","C19","1µF/16V","Device:C","","~"
"","","C20","1µF/16V","Device:C","","~"
"","","C21","1µF/16V","Device:C","","~"
"","","C22","1µF/16V","Device:C","","~"
"","","D1","LED_PAD","bass_amplifier:LED_4X","",""
"","","D2","LED_PAD","bass_amplifier:LED_4X","",""
"","","J1","Conn_01x06_Male","Connector:Conn_01x06_Male","","~"
"","","J2","Conn_01x02_Male","Connector:Conn_01x02_Male","","~"
"","","Q1","TD9944","bass_amplifier:TD9944","",""
"","","Q2","TD9944","bass_amplifier:TD9944","",""
"","","Q3","TD9944","bass_amplifier:TD9944","",""
"","","R1","10k","Device:R","","~"
"","","R2","10k","Device:R","","~"
"","","R3","10k","Device:R","","~"
"","","R4","10k","Device:R","","~"
"","","R5","10k","Device:R","","~"
"","","RV1","10k","Device:R_POT_Dual_Separate","",""
"","","RV2","10k","Device:R_POT_Dual_Separate","",""
"","","RV3","10k","Device:R_POT_Dual_Separate","",""
"","","RV4","10k","Device:R_POT_Dual_Separate","",""
"","","RV5","10k","Device:R_POT_Dual_Separate","",""
"","","RV6","10k","Device:R_POT_Dual_Separate","",""
"","","RV7","10k","Device:R_POT_Dual_Separate","",""
"","","SW1","SW_SPST_X3","bass_amplifier:SW_SPST_X3","",""
"","","TH1","10k","Device:Thermistor_NTC","","~"
"","","U1","Teensy_LC","bass_amplifier:Teensy_LC","",""
"","","U2","MCP3208","bass_amplifier:MCP3208","",""
"","","U3","74HC14","bass_amplifier:74HC14","",""



"Collated Components:"

"Item","Qty","Reference(s)","Value","LibPart","Footprint","Datasheet"
"1","2","C1, C2","1000µF/25V","Device:CP","","~"
"2","2","C3, C4","2.2µF/25V/UL low ESR","Device:C","","~"
"3","2","C5, C9","1µF/10V/UL ESR","Device:C","","~"
"4","14","C6, C7, C10, C11, C12, C13, C14, C16, C17, C18, C19, C20, C21, C22","1µF/16V","Device:C","","~"
"5","2","C8, C15","0.1µF/25V","Device:C","","~"
"6","2","D1, D2","LED_PAD","bass_amplifier:LED_4X","",""
"7","1","J1","Conn_01x06_Male","Connector:Conn_01x06_Male","","~"
"8","1","J2","Conn_01x02_Male","Connector:Conn_01x02_Male","","~"
"9","3","Q1, Q2, Q3","TD9944","bass_amplifier:TD9944","",""
"10","5","R1, R2, R3, R4, R5","10k","Device:R","","~"
"11","7","RV1, RV2, RV3, RV4, RV5, RV6, RV7","10k","Device:R_POT_Dual_Separate","",""
"12","1","SW1","SW_SPST_X3","bass_amplifier:SW_SPST_X3","",""
"13","1","TH1","10k","Device:Thermistor_NTC","","~"
"14","1","U1","Teensy_LC","bass_amplifier:Teensy_LC","",""
"15","1","U2","MCP3208","bass_amplifier:MCP3208","",""
"16","1","U3","74HC14","bass_amplifier:74HC14","",""
