"Source:","/home/marc-antoine/Bureau/bass-amplifier/control/control.sch"
"Date:","dim 08 mar 2020 20:24:57 EDT"
"Tool:","Eeschema 5.1.5-52549c5~84~ubuntu18.04.1"
"Generator:","/usr/share/kicad/plugins/bom_csv_grouped_by_value.py"
"Component Count:","53"

"Individual Components:"

"Item","Qty","Reference(s)","Value","LibPart","Footprint","Datasheet"
"","","C1","1000µF/25V","Device:CP","Capacitor_THT:CP_Radial_D10.0mm_P5.00mm","~"
"","","C2","1000µF/25V","Device:CP","Capacitor_THT:CP_Radial_D10.0mm_P5.00mm","~"
"","","C3","2.2µF/25V/UL low ESR","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C4","2.2µF/25V/UL low ESR","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C5","1µF/10V/UL ESR","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C6","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C7","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C8","0.1µF/25V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C9","1µF/10V/UL ESR","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C10","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C11","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C12","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C13","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C14","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C15","0.1µF/25V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C16","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C17","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C18","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C19","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C20","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C21","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C22","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C23","0.1µF","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C24","0.1µF","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C25","0.1µF","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","C26","0.1µF","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"","","D1","LED_PAD","bass_amplifier:LED_4X","Connector_PinHeader_2.54mm:PinHeader_1x08_P2.54mm_Vertical",""
"","","D2","LED_PAD","bass_amplifier:LED_4X","Connector_PinHeader_2.54mm:PinHeader_1x08_P2.54mm_Vertical",""
"","","J1","Conn_01x06_Male","Connector:Conn_01x06_Male","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical","~"
"","","J2","Conn_01x02_Male","Connector:Conn_01x02_Male","Connector_PinHeader_2.54mm:PinHeader_1x02_P2.54mm_Vertical","~"
"","","J3","Conn_01x06_Male","Connector:Conn_01x06_Male","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical","~"
"","","Q1","TD9944","bass_amplifier:TD9944","Package_SO:SOIC-8_3.9x4.9mm_P1.27mm",""
"","","Q2","TD9944","bass_amplifier:TD9944","Package_SO:SOIC-8_3.9x4.9mm_P1.27mm",""
"","","Q3","TD9944","bass_amplifier:TD9944","Package_SO:SOIC-8_3.9x4.9mm_P1.27mm",""
"","","Q4","TD9944","bass_amplifier:TD9944","Package_SO:SOIC-8_3.9x4.9mm_P1.27mm",""
"","","R1","10k","Device:R","Resistor_SMD:R_0805_2012Metric","~"
"","","R2","10k","Device:R","Resistor_SMD:R_0805_2012Metric","~"
"","","R3","10k","Device:R","Resistor_SMD:R_0805_2012Metric","~"
"","","R4","10k","Device:R","Resistor_SMD:R_0805_2012Metric","~"
"","","R5","10k","Device:R","Resistor_SMD:R_0805_2012Metric","~"
"","","RV1","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","RV2","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","RV3","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","RV4","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","RV5","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","RV6","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","RV7","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","SW1","SW_SPST_X3","bass_amplifier:SW_SPST_X3","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"","","TH1","10k","Device:Thermistor_NTC","Connector_PinHeader_2.54mm:PinHeader_1x02_P2.54mm_Vertical","~"
"","","U1","Teensy_LC","bass_amplifier:Teensy_LC","bass_amplifier:Teensy_LC",""
"","","U2","MCP3208","bass_amplifier:MCP3208","Package_SO:SOIC-16_3.9x9.9mm_P1.27mm",""
"","","U3","74HC14","bass_amplifier:74HC14","Package_SO:SOIC-14_3.9x8.7mm_P1.27mm",""
"","","U4","MAX3232","bass_amplifier:MAX3232","Package_SO:SOIC-16_3.9x9.9mm_P1.27mm",""



"Collated Components:"

"Item","Qty","Reference(s)","Value","LibPart","Footprint","Datasheet"
"1","2","C1, C2","1000µF/25V","Device:CP","Capacitor_THT:CP_Radial_D10.0mm_P5.00mm","~"
"2","2","C3, C4","2.2µF/25V/UL low ESR","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"3","2","C5, C9","1µF/10V/UL ESR","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"4","14","C6, C7, C10, C11, C12, C13, C14, C16, C17, C18, C19, C20, C21, C22","1µF/16V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"5","2","C8, C15","0.1µF/25V","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"6","4","C23, C24, C25, C26","0.1µF","Device:C","Capacitor_SMD:C_0805_2012Metric","~"
"7","2","D1, D2","LED_PAD","bass_amplifier:LED_4X","Connector_PinHeader_2.54mm:PinHeader_1x08_P2.54mm_Vertical",""
"8","2","J1, J3","Conn_01x06_Male","Connector:Conn_01x06_Male","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical","~"
"9","1","J2","Conn_01x02_Male","Connector:Conn_01x02_Male","Connector_PinHeader_2.54mm:PinHeader_1x02_P2.54mm_Vertical","~"
"10","4","Q1, Q2, Q3, Q4","TD9944","bass_amplifier:TD9944","Package_SO:SOIC-8_3.9x4.9mm_P1.27mm",""
"11","5","R1, R2, R3, R4, R5","10k","Device:R","Resistor_SMD:R_0805_2012Metric","~"
"12","7","RV1, RV2, RV3, RV4, RV5, RV6, RV7","10k","Device:R_POT_Dual_Separate","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"13","1","SW1","SW_SPST_X3","bass_amplifier:SW_SPST_X3","Connector_PinHeader_2.54mm:PinHeader_1x06_P2.54mm_Vertical",""
"14","1","TH1","10k","Device:Thermistor_NTC","Connector_PinHeader_2.54mm:PinHeader_1x02_P2.54mm_Vertical","~"
"15","1","U1","Teensy_LC","bass_amplifier:Teensy_LC","bass_amplifier:Teensy_LC",""
"16","1","U2","MCP3208","bass_amplifier:MCP3208","Package_SO:SOIC-16_3.9x9.9mm_P1.27mm",""
"17","1","U3","74HC14","bass_amplifier:74HC14","Package_SO:SOIC-14_3.9x8.7mm_P1.27mm",""
"18","1","U4","MAX3232","bass_amplifier:MAX3232","Package_SO:SOIC-16_3.9x9.9mm_P1.27mm",""
